<section class="sub-banner" data-stellar-background-ratio="0.5">
  <div class="overlay">
    <div class="container">
      <h3>UNI-CA</h3>
      <p class="p-text-bold">Clínica Ambulatoria</p>
    </div>
  </div>
</section>
<div class="content fix-nav-space">

  <!--======= ABOUT US =========-->
  <div class="about-us">

    <!--======= TIME LINE SECTION =========-->
    <div class="time-line-sec time-line-2">
      <div class="container">
        <h2 class="text-center">
          <span>Beneficios</span> de la cirugía ambulatoria</h2>
        <div class="row">

          <!-- Text Section -->
          <div class="col-md-6">

            <!-- Timeline Start -->
            <ul class="time-line">

              <!-- 1 -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>1</h3>
                </div>
                <div class="col-md-9">
                  <h6>Procedimientos quirúrgicos seguros y no necesitan de internamiento prolongado.</h6>
                </div>
              </li>

              <!-- 2 -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>2</h3>
                </div>
                <div class="col-md-9">
                  <h6>Usted regresa a su casa el mismo día de la operación.</h6>
                </div>
              </li>

              <!-- 3 -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>3</h3>
                </div>
                <div class="col-md-9">
                  <h6>Su estancia es más cómoda y agradable.</h6>
                </div>
              </li>

              <!-- 4 -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>4</h3>
                </div>
                <div class="col-md-9">
                  <h6>Todos los pacientes cuentan con la misma atención.</h6>
                </div>
              </li>

              <!-- 5  -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>5</h3>
                </div>
                <div class="col-md-9">
                  <h6>Los riesgos de infecciones son menores.</h6>
                </div>
              </li>

            </ul>
          </div>

          <!-- Text Section -->
          <div class="col-md-6">

            <!-- Timeline Start -->
            <ul class="time-line">

              <!-- 6 -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>6</h3>
                </div>
                <div class="col-md-9">
                  <h6>Los pacientes ambulatorios no compiten con los pacientes graves en su cuidado.</h6>
                </div>
              </li>

              <!-- 7  -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>7</h3>
                </div>
                <div class="col-md-9">
                  <h6>Atención personalizada por personal experto en Cirugía Ambulatoria.</h6>
                </div>
              </li>

              <!-- 8  -->
              <li class="row">
                <div class="col-md-3 text-right">
                  <h3>8</h3>
                </div>
                <div class="col-md-9">
                  <h6>Equipo quirúrgico altamente especializado y moderno.</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us">

      <!--======= TIME LINE SECTION =========-->
      <div class="time-line-sec time-line-2">
        <div class="container">
          <h2 class="text-center">Que debe conocer del
            <span>Pie Diabético</span>
          </h2>
          <div class="row">

            <!--======= Deneral Information =========-->
            <div class="detail-sec">
              <h4>
                <strong> Diabetes mellitus </strong>
              </h4>
              <p>
                La diabetes mellitus del adulto en México y muchos países, es un grave problema de salud pública. Se
                estima que existen alrededor del mundo 140 millones de personas con diabetes mellitus. La mitad de los
                casos de diabetes tipo 2 son asintomáticos, por
                lo que la detección oportuna es importante. México en 1995 ocupaba el noveno lugar dentro de los diez
                países con mayor número de personas con diabetes; para el año 2025 se calcula que alcance los 11.7
                millones y ocupe
                la séptima posición. Este aumento de la diabetes es por el incremento de la sobrevida con una población
                añosa, el sedentarismo y los hábitos dietéticos que fomentan la obesidad. A mayor edad, mayor
                prevalencia. La diabetes
                es la primer causa de muerte de nuestro país.
              </p>

              <br>

              <h4>¿Qué es el Pie Diabético?</h4>
              <p>
                Según la Organización mundial de la salud; es la infección, ulceración y/o destrucción de tejidos
                profundos asociados con alteraciones neurológicas y diversos grados de enfermedad vascular periférica de
                las extremidades inferiores.
              </p>
              <p>
                Es así como la diabetes puede causar problemas en sus pies; incluso una pequeña cortada puede tener
                consecuencias serias. La diabetes puede causar daños en los nervios, lo cual reduce la sensibilidad en
                los pies. La diabetes también puede reducir el flujo
                de sangre a los pies, de modo que una herida demore más tiempo en sanar o sea incapaz de resistir una
                infección. Por estos problemas, es posible que los pacientes con diabetes no perciban una piedra en su
                zapato, originando
                una ampolla, una ulceración y finalmente una infección crónica que ocasione la perdida de los pies o
                incluso de la extremidad.
              </p>
            </div>

            <br>

            <h4 class="font-bold">Para evitar estas complicaciones es necesario seguir los siguientes cuidados:</h4>
            <!-- Text Section -->
            <div class="col-md-6">


              <!-- Timeline Start -->
              <ul class="time-line">

                <!-- 1 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>1</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Revise sus pies diariamente.</h6>
                    <p>Observar con un espejo si existen heridas, ampollas, enrojecimiento, hinchazón o problemas de
                      uñas. Utilizar un espejo de mano con amplificación para revisar la planta de sus pies. Debe
                      consultarse a su médico
                      si se encuentra alguna anomalía.</p>
                  </div>
                </li>

                <!-- 2 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>2</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Lavar los pies en agua tibia
                      <strong>(¡nunca caliente!)</strong>
                    </h6>
                    <p>Mantener los pies limpios lavándolos diariamente. Usar agua tibia: la temperatura que utilizaría
                      para bañar a un bebé recién nacido. Verificar con los codos la temperatura del agua. Recuerde que
                      puede quemarse
                      sin sentir dolor.</p>
                  </div>
                </li>

                <!-- 3 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>3</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Secar los pies con cuidado.</h6>
                    <p>Secar con una toalla suave o una esponja, sin frotar, dejando que la toalla absorba el agua o con
                      suaves golpecitos con la toalla. Asegúrese de que se ha secado entre los dedos.</p>
                  </div>
                </li>

                <!-- 4 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>4</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Humectar los pies evitando la zona entre los dedos.</h6>
                    <p>Utilice una crema hidratante diariamente para evitar que la piel seca cause escozor o que se
                      agriete. NO aplicar crema hidratante entre los dedos; esto podría causar una infección por hongos.
                    </p>
                  </div>
                </li>

                <!-- 5  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>5</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Corte de uñas con cuidado y en forma recta.</h6>
                    <p>Despuntar las esquinas. No demasiado cortas ya que eso podría causar que la uña se encarne.,
                      deje las equinas.</p>
                  </div>
                </li>

                <!-- 6 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>6</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Nunca corte las verrugas ni los callos.</h6>
                    <p></p>
                  </div>
                </li>

                <!-- 7  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>7</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Use medias limpias y secas.</h6>
                    <p>Cámbielas todos los días.</p>
                  </div>
                </li>

                <!-- 8  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3 class="font-bold">8</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Elija bien el tipo de medias que usa.</h6>
                    <p>Evite las medias con elásticos apretados, ya que reducen la circulación sanguínea. No use medias
                      gruesas o abultadas (no se ajustan bien y pueden irritar la piel).</p>
                  </div>
                </li>

              </ul>
            </div>

            <!-- Text Section -->
            <div class="col-md-6">

              <!-- Timeline Start -->
              <ul class="time-line">

                <!-- 9 -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>9</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Use medias en la cama.</h6>
                    <p>Use medias si se le enfrían los pies durante la noche. NUNCA use almohadillas eléctricas o bolsas
                      de agua caliente.</p>
                  </div>
                </li>

                <!-- 10  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>10</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Sacuda los zapatos y revíselos por dentro antes de usarlos.</h6>
                    <p>Recuerde: es posible que no sienta una piedra en el zapato, por lo tanto sacúdalos antes de
                      ponérselos.</p>
                  </div>
                </li>

                <!-- 11  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>11</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Mantenga los pies secos y abrigados.</h6>
                    <p> No deje que se le mojen los pies en la nieve o en la lluvia. En invierno use medias y zapatos
                      abrigados.</p>
                  </div>
                </li>

                <!-- 12  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>12</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Nunca camine descalzo.</h6>
                    <p>¡Ni siquiera en su casa! Podría pisar algo que lo lastime o corte.</p>
                  </div>
                </li>

                <!-- 13  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>13</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Controle su diabetes.</h6>
                    <p>Mantenga sus niveles de azúcar en la sangre bajo control.</p>
                  </div>
                </li>

                <!-- 14  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>14</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">No fume.</h6>
                    <p>El fumar restringe la circulación de la sangre a los pies.</p>
                  </div>
                </li>

                <!-- 15  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>15</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Sea mas activo:</h6>
                    <p>Realice ejercicio en forma habitual mantenga un flujo sanguíneo adecuado en sus pies: mueva sus
                      dedos y tobillos hacia arriba y abajo por 5 minutos dos o tres veces al día, no cruce sus piernas
                      por mucho tiempo.
                      INICIE AHORA: comience a cuidar adecuadamente sus pies hoy y cada día., elija una hora exacta para
                      revisar sus pies diariamente.</p>
                  </div>
                </li>

                <!-- 16  -->
                <li class="row">
                  <div class="col-md-3 text-right">
                    <h3>16</h3>
                  </div>
                  <div class="col-md-9">
                    <h6 class="font-bold">Consulte para revisión periódica de sus pies.</h6>
                    <p></p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="detail-sec">
            <p>
              El pie diabético, causa el 20 a 30 % de los internamientos hospitalarios, incrementa las defunciones, la
              necesidad de intervenciones quirúrgicas y los costos . Se estima que un 15-25 % de los pacientes con
              diabetes mellitus desarrollan una ulceración
              en algún momento de su vida, de estos el 50% tendrá un riesgo de infección que amenace la perdida de la
              extremidad y un 20% terminara en amputación. Alrededor de los 60 años la frecuencia de lesión y
              amputación es mayor.
              La atención integral de los pacientes y su vigilancia en los módulos del pie en riesgo y con lesión,
              permite detectar oportunamente las lesiones, disminuyendo la gravedad de las mismas y la necesidad de
              amputación tratando
              de salvar los pies del paciente, pero cuando ésta es inevitable realizarla con menos radicalidad.
            </p>

          </div>
          <div class="detail-sec">
            <h4>¿Qué es una Clínica del Pie Diabético?</h4>
            <p>
              La Clínica del pie diabético es un sistema de atención diseñado para los pacientes diabéticos propensos a
              desarrollar lesiones del pie que pueden culminar desastrosamente en amputaciones y la muerte del paciente.
              El enfoque es en la prevención temprana
              al modificar los factores de alto riesgo ya conocidos que causan infección, úlcera e isquemia (falta de
              circulación). Se educa y atiende al paciente y sus familiares con un programa integral con un equipo en el
              que intervienen
              enfermeras, nutricionistas, médicos, técnicos podólogos, psicólogos y trabajo social. Una clínica del
              pie diabético ideal se compone de dos módulos:
            </p>
          </div>

          <div class="detail-sec">
            <p>
              <strong class="font-italic-bold"> Módulo 1. Llamado Módulo de pie de riesgo.</strong> Es un módulo de
              atención a pacientes diabéticos con alto riesgo de desarrollar lesiones. El enfoque es la prevención.
            </p>
          </div>

          <!-- GALERIA Módulo 1 -->
          <section class="gallery-pages">
            <div class="portfolio-wrapper">
              <div class="container popup-gallery">
                <ul class="items gallery-item row masonry">
                  <li class="col-md-6" *ngFor="let img of masonryImages?.modulo_pie_riesgo" lazy-load-images>
                    <img class="img-responsive item-masonry" [attr.data-src]="img.url">
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <div class="detail-sec">
            <p>
              <strong class="font-italic-bold">Módulo 2. El segundo módulo atiende pacientes con lesión</strong>, limita
              el daño de la misma con un enfoque conservador que se esfuerza en preservar la extremidad y su función.
              Resuelto
              el problema cuando los resultados son satisfactorios el paciente es atendido en el módulo 1 para prevenir
              recurrencias o una nueva lesión en la misma extremidad o en la contralateral.
            </p>
          </div>
          <!-- GALERIA Módulo 2 -->
          <section class="gallery-pages">
            <div class="portfolio-wrapper">
              <div class="container popup-gallery">
                <ul class="items gallery-item row masonry">
                  <li class="col-md-6" *ngFor="let img of masonryImages?.pacientes_lesiones" lazy-load-images>
                    <img class="img-responsive item-masonry" [attr.data-src]="img.url">
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <br>
          <h4>Revascularización:</h4>
          <p>
            Es una cirugia para restablecer la circulación arterial al pie afectado, hay dos tipos de revascularizacion
            mas común.
          </p>
          <p>
            <strong>Bypass o puente arterial:</strong> Es una cirugía que dura entre 5 y 8 horas, en la que se realiza
            un
            puente de vena del mismo paciente para saltar la obstrucción del flujo de la sangre arterial que impide la
            circulación
            hacia el pie.
          </p>
          <!-- GALERIA ByPass -->
          <section class="gallery-pages">
            <div class="portfolio-wrapper">
              <div class="container popup-gallery">
                <ul class="items gallery-item row masonry">
                  <li class="col-md-6" *ngFor="let img of masonryImages?.bypass" lazy-load-images>
                    <img class="img-responsive item-masonry" [attr.data-src]="img.url">
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <p>
            <strong>Cirugía Endovascular:</strong> Es un procedimiento quirúrgico menos invasivo, que consiste en
            realizar
            una punción a nivel de la ingle para insertar catéteres con balones largos especiales que permiten dilatar
            las
            obstrucciones
            de la circulación arterial. A diferencia del primer procedimiento la dilatación con balones puede repetirse
            e
            incluso si es necesario realizar en un segundo tiempo la cirugía mayor de revascularización distal. Al
            reestablecer el
            flujo sanguíneo con cualquiera de los dos procedimientos la cicatrización de las ulceras y heridas puede
            lograrse con mayor facilidad.
          </p>
          <section class="gallery-pages">
            <div class="portfolio-wrapper">
              <div class="container popup-gallery">
                <ul class="items gallery-item row masonry">
                  <li class="col-md-6" *ngFor="let img of masonryImages?.cirugia_endovascular" lazy-load-images>
                    <img class="img-responsive item-masonry" [attr.data-src]="img.url">
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <br>
          <h4>Heridas crónicas:</h4>
          <p>
            La clínica de heridas se encarga de evaluar y tratar las heridas que llevan mas de 2 semanas de su inicio o
            que llevan más de 6 semanas sin sanar por completo. Hay varios tipos de heridas crónicas de las cuales las
            más
            comunes son: ulceras por presión,
            heridas quirúrgicas, por radiación, ulceras venosas y pie diabético.
            <br>
            <br> Algunos de los factores que impiden que una herida sane o cicatrice son: Diabetes, pobre circulación,
            Daño en los nervios, inmovilización o inactividad, disminución en defensas o sistema inmune desnutrición o
            mal
            nutricionalmente,
            uso excesivo de alcohol, tabaquismo.
            <br>
          </p>
          <section class="gallery-pages">
            <div class="portfolio-wrapper">
              <div class="container popup-gallery">
                <ul class="items gallery-item row masonry">
                  <li class="col-md-6" *ngFor="let img of masonryImages?.heridas_cronicas" lazy-load-images>
                    <img class="img-responsive item-masonry" [attr.data-src]="img.url">
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>