<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="tittle tittle-2 ">
    <h3>Que piensan de nosotros</h3>
    <div class="qou"></div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-testimonial">
        <div class="row">
          <div class="col md-12 text-center">
            <p class="testimonial_para font-italic">
              <i class="fas fa-quote-left pr-2"></i>
              Excelente!!!...muy bien equipada y su personal muy amable!!...muy
              recomendable!!
              <i class="fas fa-quote-right pl-2"></i>
            </p>
            <br />
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong>Xuárez Nohemy</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-testimonial">
        <div class="row">
          <div class="col md-12 text-center">
            <p class="testimonial_para font-italic">
              <i class="fas fa-quote-left pr-2"></i>
              Exelentes instalaciones, muy recomendable y la atención ni se diga
              <i class="fas fa-quote-right pl-2"></i>
            </p>
            <br />
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong>Fatima CR</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-testimonial">
        <div class="row">
          <div class="col md-12 text-center">
            <p class="testimonial_para font-italic">
              <i class="fas fa-quote-left pr-2"></i>
              Excelente servicio e instalaciones, limpisimo y sobre todo el
              personal super profesional y con bastante etica.
              <i class="fas fa-quote-right pl-2"></i>
            </p>
            <br />
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong>Maryloli Oliveros</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-testimonial">
        <div class="row">
          <div class="col md-12 text-center">
            <p class="testimonial_para font-italic">
              <i class="fas fa-quote-left pr-2"></i>
              Excelente servicio y un precio justo.
              <i class="fas fa-quote-right pl-2"></i>
            </p>
            <br />
            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong>Carito Pérez Barraza</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
