<section class="sub-banner" data-stellar-background-ratio="0.5">
  <div class="overlay">
    <div class="container">
      <h3>UNI-CA</h3>
      <p class="p-text-bold">Clínica Ambulatoria</p>
    </div>
  </div>
</section>
<section class="gallery-pages">
  <div class="portfolio-wrapper">
    <div class="container popup-gallery">
      <h2 class="text-left">
        <span class="fixtitle">Nuestras instalaciones</span>
      </h2>

      <section class="gallery-pages">
        <div class="portfolio-wrapper">
          <div class="container popup-gallery">
            <ul class="items gallery-item row masonry">
              <li class="col-md-6" *ngFor="let img of masonryImages" lazy-load-images>
                <img class="img-responsive item-masonry" [attr.data-src]="img.url">
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>