<div class="content">
  <div id="banner" class="full-screen">
    <div class="main-bnr">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="main-bnr-text">
              <h5>
                <strong class="title">UNI-CA</strong>
              </h5>
              <h1>CLÍNICA AMBULATORIA</h1>
              <p>
                Es una unidad médica de vanguardia en la cual nos especializamos
                en atender problemas y complicaciones de píe diebético, heridas
                crónicas y cirugías laparoscópica y de corta estancia, siguiendo
                los estándares de calidad vigentes, ofreciendo servicios
                profesionales con ética, responsabilidad y de primer nivel.
              </p>
            </div>
          </div>

          <div class="col-md-6 no-padding main-bnr-bg"></div>
        </div>
      </div>
      <div class="go-down scroll">
        <div class="icon-scroll"></div>
      </div>
    </div>
  </div>
  <section class="intro">
    <div class="container">
      <div class="intro-in">
        <div class="tittle">
          <h3>Nuestra filosofía</h3>
        </div>

        <a class="btn">MISIÓN</a>
        <a class="btn">VISIÓN</a>
      </div>
      <ul class="row">
        <li class="col-md-6 text-justify">
          <p>
            Somos una institución médica, especializada en el manejo avanzado,
            integral y ambulatorio de heridas crónicas en pacientes de
            diferentes edades, brindando servicio profesional y
            multidiciplinario, a través de un equipo altamente calificado con el
            fin de mejorar la calidad de vida de nuestros pacientes.
          </p>
        </li>
        <li class="col-md-6 text-justify">
          <p>
            Ser una unidad médica, reconocida a nivel regional por el
            tratamiento especializado de heridas y en particular para aquellas
            heridas crónicas y complicación por diabetes, que brinde servicios
            de calidad, prestigio y seguridad para mejorar la atención a sus
            pacientes, con tecnología de vanguardía
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section id="prople-says">
    <div class="overlay">
      <app-testimonial></app-testimonial>
    </div>
  </section>
</div>